@font-face{font-family:CenturyGothic;src:url(/media/fonts/GOTHIC.TTF);}
body{margin:0px;font-family:verdana;background-color:#FFFFFF;background-image:url(/media/images/body_img.jpg);background-repeat:repeat-x;}
*{margin:0;padding:0;}
.clear{clear:both;}
a{color:#000000;text-decoration:none;font-size:14px;}
.header_top{width:100%;background-color:#0e0e0e;padding-top:20px;padding-bottom:50px;border-bottom:5px solid #6f6a62;}
.logo_bar{padding-left:10px;padding-right:10px;z-index:1000;position:absolute;}
.menu_bar{width:100%;font-family:CenturyGothic;font-size:16px;color:#FFFFFF;float:left;text-transform:none;padding-left:20px;}
.menu_bar ul{padding:0;margin:0;}
.menu_bar ul li{list-style:none;display:inline;padding-left:15px;padding-right:10px;}
.menu_bar ul li a{text-decoration:none;color:#FFFFFF;font-size:16px;}
.menu_bar ul li a:hover{text-decoration:none;color:#CCCCCC;}
.leftandright_bar{width:95%;padding-left:10px;padding-right:10px;border:1px solid #CCCCCC;border-radius:5px;padding-top:10px;padding-bottom:10px;margin-bottom:10px;margin-top:10px;}
.leftandright_bar_title{font-family:'Open Sans', sans-serif;font-weight:bold;font-size:55px;border-bottom:4px solid #6f6a62;color:#000000;text-align:center;}
.leftandright_bar_title span{font-family:'Open Sans', sans-serif;font-weight:bold;font-size:90px;color:#256bb2;}
.leftandright_bar_conent{font-family:'Open Sans', sans-serif;font-weight:normal;font-size:18px;padding-left:10px;float:left;width:90%;margin-top:25px;}
.leftandright_bar_image{float:left;padding-left:10px;width:10%;margin-top:25px;}
.left_content_box{width:100%;margin-top:20px;}
.find_click_here{width:50%;margin:0 auto;padding-top:73px;padding-bottom:20px;}
.leftandright_barRight{width:100%;padding-left:10px;padding-right:10px;border:1px solid #CCCCCC;border-radius:5px;padding-top:10px;padding-bottom:10px;margin-bottom:10px;margin-top:10px;}
.leftandright_bar_title_right{font-family:'Open Sans', sans-serif;font-weight:bold;font-size:55px;color:#256bb2;text-align:center;padding-top:18px;text-transform:uppercase;}
.leftandright_bar_title_right p{font-family:'Open Sans', sans-serif;font-weight:bold;font-size:22px;border-bottom:4px solid #6f6a62;color:#000000;text-align:center;}
.find_click_hereRight{width:50%;margin:0 auto;padding-top:10px;padding-bottom:20px;}
.leftandright_bar_conentRight{font-family:'Open Sans', sans-serif;font-weight:normal;font-size:18px;padding-left:10px;float:left;width:90%;margin-top:15px;}
.leftandright_bar_imageRight{float:left;padding-left:10px;width:10%;margin-top:15px;}
.left_content_boxRight{width:100%;margin-top:20px;}
.foo_ter{width:100%;padding-top:20px;padding-bottom:20px;border-top:5px solid #6f6a62;text-align:center;margin-top:30px;}
.foo_ter ul{padding:0;margin:0;}
.foo_ter ul li{list-style:none;display:inline;padding-left:10px;padding-right:10px;color:#8e8e8e;font-family:Arial, Helvetica, sans-serif;font-size:12px;text-transform:uppercase;}
.foo_ter ul li a{color:#8e8e8e;font-size:12px;}
.foo_ter ul li a:hover{color:#000000;}
.foo_ter p{text-align:center;font-size:12px;text-transform:none;}
.left_content_boxRight p{font-family:'Open Sans', sans-serif;font-weight:normal;font-size:16px;}
.smoking_pipe{font-family:'Open Sans', sans-serif;font-weight:bold;font-size:30px;border-bottom:4px solid #6f6a62;color:#256bb2;text-align:center;text-transform:uppercase;padding-bottom:10px;margin-bottom:10px;}
.smoking_pipe_title{text-align:center;font-family:CenturyGothic;font-size:46px;color:#256bb2;font-weight:bold;text-transform:uppercase;margin-top:10px;margin-bottom:10px;}
.container_bagground{background-color:#FFFFFF;padding-top:10px;padding-bottom:10px;width:100%;height:300px;margin-top:10px;padding-left:10px;border:1px solid #FFFFFF;border-radius:5px;padding-right:10px;}
.ourflavours_bar{width:90%;padding-left:10px;padding-right:10px;border:1px solid #CCCCCC;border-radius:5px;border-shadow:5px;padding-top:10px;padding-bottom:10px;margin-bottom:10px;margin-top:10px;box-shadow:1px 1px 1px 1px #dbdad8;}
.our_flavour_content{width:100%;font-family:CenturyGothic;font-size:24px;color:#d62226;padding-top:10px;}
.our_flavour_content p{font-family:Arial, Helvetica, sans-serif;font-size:12px;color:#4a4a4a;}
.our_flavour_content_ml{font-family:CenturyGothic;font-size:20px;font-weight:bold;color:#000000;}
.necoting_reduction{width:100%;padding-top:10px;font-family:CenturyGothic;font-size:25px;font-weight:bold;padding-left:10px;padding-right:10px;text-transform:uppercase;}
.necoting_reduction p{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#6f6a62;padding-top:5px;font-weight:normal;text-transform:none;}
.necoting_reduction_box{width:92%;padding-left:30px;background-color:#2a2a2a;border:1px solid #2a2a2a;margin-left:50px;padding-bottom:15px;border-radius:5px;margin-top:20px;}
.necoting_reduction_box_title{font-family:CenturyGothic;font-size:25px;font-weight:bold;color:#ffffff;border-bottom:1px dashed #5b5b5b;text-transform:uppercase;margin-right:20px;padding-bottom:10px;padding-top:10px;}
.necoting_reduction_box_content{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#a6a6a6;padding-top:15px;padding-right:30px;}
.necoting_reduction_box_content p{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#a6a6a6;padding-top:10px;}
.necoting_reduction_box_content ul{padding-left:20px;margin:0;}
.necoting_reduction_box_content ul li{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#ffffff;list-style-image:url(media/images/list_style_img.jpg);padding-top:10px;}
.necoting_reduction_box2_content{font-family:Arial, Helvetica, sans-serif;font-size:16px;color:#ffffff;padding-top:15px;padding-right:30px;}
.necoting_reduction_box2_content p{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#a6a6a6;}
.smoking_pipe_title p{text-align:center;font-family:'Open Sans', sans-serif;font-size:18px;color:#252525;font-weight:normal;text-transform:none;margin-top:10px;margin-bottom:10px;}
.contactus_field_box{width:85%;margin:0 auto;}
.contactus_field_name{text-align:right;font-family:'Open Sans', sans-serif;font-size:18px;color:#252525;padding-top:10px;padding-right:10px;}
.contactus_text_box{width:85%;height:40px;border:1px solid #bbbbbb;border-radius:5px;margin-top:10px;}
.your_message_area{width:85%;height:140px;border:1px solid #bbbbbb;border-radius:5px;margin-top:10px;}
.captcha_activa{padding-left:10px;}
.contactus_captcha_box{width:50%;height:40px;border:1px solid #bbbbbb;border-radius:5px;margin-top:10px;float:left;}
.captcha_img{width:40%;margin-top:11px;float:left;padding-left:10px;}
.send_button{padding-top:30px;width:100px;margin:0 auto;}
.input_error{border:1px solid #FF0000!important;}
ul.errorlist{display:none;}