#acdnmenu{height:auto;width:230px;font-size:0;padding-left:35px;}
#acdnmenu ul.top{padding-left:0;}
#acdnmenu div.heading, #acdnmenu a.link{padding:8px;text-align:left;font-family:"Century Gothic";font-size:19px;color:#000e5e;text-decoration:none;outline:none;}
#acdnmenu div.current, #acdnmenu div:hover, #acdnmenu a.link:hover, #acdnmenu div.current a.link{color:#46c9f5;font-weight:normal;text-decoration:none;}
#acdnmenu a.current, #acdnmenu a.current:hover{color:#000e5e;line-height:50px;}
#acdnmenu div.arrowImage{width:12px;height:12px;top:9px;right:4px;background-image:url(arrows.gif);background-position:0 0;}
#acdnmenu div.current div.arrowImage{background-position:0 -12px;}
#acdnmenu li.separator{}
#acdnmenu ul.sub{padding-left:14px;background:#47A url(bg.jpg) 20% -30px;/**/}
#acdnmenu ul.sub ul.sub{background:none;}
#acdnmenu ul.sub div.heading{text-align:left;font:normal 12px Arial;padding:5px;padding-left:20px;color:#BBB;background:none;}
#acdnmenu ul.sub div.heading a{color:#BBB;}
#acdnmenu ul.sub div.current{color:#DDD;background:none;}
#acdnmenu ul.sub a.link{font:normal 11px Arial;color:#000e5e;padding:5px;text-decoration:none;background:none;font-size:16px;font-family:"Century Gothic";}
#acdnmenu ul.sub a.link:hover, #acdnmenu ul.sub a.current, #acdnmenu ul.sub div.heading a:hover, #acdnmenu ul.sub div.heading a.current{text-decoration:underline;background:none;font-family:"Century Gothic";font-size:16px;color:#BBB;}
#acdnmenu ul.sub div.arrowImage{width:12px;height:12px;top:6px;left:4px;background-image:url(arrows.gif);background-position:0 -24px;}
#acdnmenu ul.sub div.current div.arrowImage{background-position:0 -36px;}
#acdnmenu, #acdnmenu ul{display:block;font-size:0px;line-height:0px;}
#acdnmenu li{font-size:12px;line-height:40px;}
#acdnmenu:after{content:'.';height:0;clear:both;display:block;visibility:hidden;}
#acdnmenu ul, #acdnmenu li, #acdnmenu div.heading, #acdnmenu a.smLink, #acdnmenu div.description{*zoom:1;}
#acdnmenu li{*float:left;*width:100%;}
#acdnmenu ul{position:relative;overflow:hidden;padding:0;margin:0;list-style-type:none;padding-left:10px;}
#acdnmenu>ul{visibility:hidden;}
#acdnmenu li{padding:0;margin:0;}
#acdnmenu div.heading, #acdnmenu div.current{position:relative;cursor:pointer;}
#acdnmenu div.arrowImage{position:absolute;overflow:hidden;}