        <h1> Search for &nbsp;<select name="name" style="border:1px solid #CCC; ">
            <option>&nbsp;Status&nbsp;</option>
        </select> &nbsp;Subscribers by &nbsp;<select name="name" style="border:1px solid #CCC;">
            <option>&nbsp; Option &nbsp;</option>
        </select></h1>

        <div class="order_wapper">
            <div class="order_inner">
                <!--heading -->
                <div class="row_heading">
                    <div class="S_col_o1">First name</div>
                    <div class="S_col_o2">
                        Second name
                    </div>
                    <div class="S_col_o3">Last order sent</div>
                    <div class="S_col_o4">Next order due
                    </div>
                    <div class="S_col_o5">status
                    </div>
                    <div class="S_col_o6">Action
                    </div>
                </div>
                <!--heading -->

                <div id="pagination_content">
                    <!--row -->
                    {% for id,subs in sld_cancelled_subscriptions_dict.iteritems %}
                    <div id="subs_sld_{{ id }}" class="row1_col">
                        <div class="s_col_to1" style="color:red">{{ subs.0 }}</div>
                        <div class="s_col_to2" style="color:red">{{ subs.1 }}</div>
                        <div class="s_col_to3" style="color:red">{{ subs.2 }}</div>
                        <div class="s_col_to4" style="color:red">{{ subs.3 }}</div>
                        <div class="s_col_to5" style="color:red">{{ subs.4 }}</div>
                        <div class="s_col_to6" style="color:red"><a style="cursor: pointer" onclick="view_subs('sld',{{ id }})"> view </a> | <a style="cursor: pointer" onclick="autorize_cancellation('sld',{{ id }})"> Cancel </a></div>
                    </div>
                    {% endfor %}
                    <!--row -->

                    <!--row -->
                    {% for id,subs in ssd_cancelled_subscriptions_dict.iteritems %}
                    <div id="subs_ssd_{{ id }}" class="row1_col">
                        <div class="s_col_to1" style="color:red">{{ subs.0 }}</div>
                        <div class="s_col_to2" style="color:red">{{ subs.1 }}</div>
                        <div class="s_col_to3" style="color:red">{{ subs.2 }}</div>
                        <div class="s_col_to4" style="color:red">{{ subs.3 }}</div>
                        <div class="s_col_to5" style="color:red">{{ subs.4 }}</div>
                        <div class="s_col_to6" style="color:red"><a style="cursor: pointer" onclick="view_subs('ssd',{{ id }})"> view </a> | <a style="cursor: pointer" onclick="autorize_cancellation('ssd',{{ id }})"> Cancel </a></div>
                    </div>
                    {% endfor %}
                    <!--row -->

                    <!--row -->
                    {% for id,subs in sld_subscriptions_dict.iteritems %}
                    <div id="subs_sld_{{ id }}" class="row1_col">
                        <div class="s_col_to1">{{ subs.0 }}</div>
                        <div class="s_col_to2">{{ subs.1 }}</div>
                        <div class="s_col_to3">{{ subs.2 }}</div>
                        <div class="s_col_to4">{{ subs.3 }}</div>
                        <div class="s_col_to5">{{ subs.4 }}</div>
                        <div class="s_col_to6"><a style="cursor: pointer" onclick="view_subs('sld',{{ id }})"> view </a></div>
                    </div>
                    {% endfor %}
                    <!--row -->

                    <!--row -->
                    {% for id,subs in ssd_subscriptions_dict.iteritems %}
                    <div id="subs_ssd_{{ id }}" class="row1_col">
                        <div class="s_col_to1">{{ subs.0 }}</div>
                        <div class="s_col_to2">{{ subs.1 }}</div>
                        <div class="s_col_to3">{{ subs.2 }}</div>
                        <div class="s_col_to4">{{ subs.3 }}</div>
                        <div class="s_col_to5">{{ subs.4 }}</div>
                        <div class="s_col_to6"><a style="cursor: pointer" onclick="view_subs('ssd',{{ id }})"> view </a></div>
                    </div>
                    {% endfor %}
                    <!--row -->
               </div>

            </div>
        </div>