<!--heading -->
<div class="row_heading">
    <div class="col_o1">First name</div>
    <div class="col_o2">
        Second name
    </div>
    <div class="col_o3">Status</div>
    <div class="col_o4">Date
    </div>
    <div class="col_o5">Action
    </div>
</div>
<!--heading -->
<div id="pagination_content">
    {% for id,msg in sldmsg_dict.iteritems %}
    <div class="row1_col" id="sld_msg_{{ id }}">
       <div class="col_to1">{{ msg.0 }}</div>
        <div class="col_to2">{{ msg.1 }}</div>
        {% if msg.2 == 'received' %}
          <div class="col_to3">{{ msg.2 }}<span style="color: red">(not replied to)</span></div>
        {% else %}
           <div class="col_to3">{{ msg.2 }}</div>
        {% endif %}
        <div class="col_to4">{{ msg.3 }}</div>
        <div class="col_to5"><a style="cursor: pointer" onclick="view_message({{ id }},'{{ msg.4 }}')">View</a></div>
    </div>
    {% endfor %}

   {% for id,msg in sldpublicmsg_dict.iteritems %}
    <div class="row1_col" id="sldp_msg_{{ id }}">
        <div class="col_to1">{{ msg.0 }}</div>
        <div class="col_to2">{{ msg.1 }}</div>
        {% if msg.2 == 'received' %}
          <div class="col_to3">{{ msg.2 }}<span style="color: red">(not replied to)</span></div>
        {% else %}
           <div class="col_to3">{{ msg.2 }}</div>
        {% endif %}
        <div class="col_to4">{{ msg.3 }}</div>
        <div class="col_to5"><a style="cursor: pointer" onclick="view_message({{ id }},'{{ msg.4 }}')">View</a></div>
    </div>
    {% endfor %}

    {% for id,msg in ssdmsg_dict.iteritems %}
    <div class="row1_col" id="ssd_msg_{{ id }}">
        <div class="col_to1">{{ msg.0 }}</div>
        <div class="col_to2">{{ msg.1 }}</div>
        {% if msg.2 == 'received' %}
          <div class="col_to3">{{ msg.2 }}<span style="color: red">(not replied to)</span></div>
        {% else %}
           <div class="col_to3">{{ msg.2 }}</div>
        {% endif %}
        <div class="col_to4">{{ msg.3 }}</div>
        <div class="col_to5"><a style="cursor: pointer" onclick="view_message({{ id }},'{{ msg.4 }}')">View</a></div>
    </div>
    {% endfor %}

   {% for id,msg in ssdpublicmsg_dict.iteritems %}
    <div class="row1_col" id="ssdp_msg_{{ id }}">
        <div class="col_to1">{{ msg.0 }}</div>
        <div class="col_to2">{{ msg.1 }}</div>
        {% if msg.2 == 'received' %}
          <div class="col_to3">{{ msg.2 }}<span style="color: red">(not replied to)</span></div>
        {% else %}
           <div class="col_to3">{{ msg.2 }}</div>
        {% endif %}
        <div class="col_to4">{{ msg.3 }}</div>
        <div class="col_to5"><a style="cursor: pointer" onclick="view_message({{ id }},'{{ msg.4 }}')">View</a></div>
    </div>
    {% endfor %}


   {% for id,msg in adminmsg_dict.iteritems %}
    <div class="row1_col" id="admin_msg_{{ id }}">
        <div class="col_to1">{{ msg.0 }}</div>
        <div class="col_to2">{{ msg.1 }}</div>
        {% if msg.2 == 'received' %}
          <div class="col_to3">{{ msg.2 }}<span style="color: red">(not replied to)</span></div>
        {% else %}
           <div class="col_to3">{{ msg.2 }}</div>
        {% endif %}
        <div class="col_to4">{{ msg.3 }}</div>
        <div class="col_to5"><a style="cursor: pointer" onclick="view_message({{ id }},'{{ msg.4 }}')">View</a></div>
    </div>
    {% endfor %}


</div>