{% extends "backend_base.html" %}

{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="media/css/style.css">
{% endblock %}

{% block js %}
    <script type="text/javascript" src="media/js/jquery-1.9.1.js"></script>
{% endblock %}

{%block main%}

<div class="top_bar">
 <div class="top_bar_inner">
  <div id="logo_container">
    <div class="call_us" style="text-align:right;">

     &nbsp;<a href="#"></a>
  <div class="clear"></div>
    </div>


 </div>
</div>


  <div class="clear"></div>
</div>

<div id="container">
    <div id="container_ctr">
        <div id="navigation">
          <div id="navigation_left">
            <ul>


            </ul>

          </div>

        </div>

        {% block content %}

        {% endblock %}

         <div class="clr"></div>
    </div>
</div>

<div class="footer_bar">
<div class="footer_bar_inner">
<div class="footer-top-navi">
<a href="/home">Home</a> |<a href="/orders"> Orders </a> |<a href="/reports"> Reports</a> |<a href="/stock"> Stock Control</a> |<a href="/subscribers"> Subscribers </a>  |<a href="/messages"> Messages</a> |<a href="/users"> Users</a>
</div>
</div>
</div>
{%endblock%}