{% extends "general.html" %}

{% load i18n %}

{% block content %}
<div id="matter_container">
    <div class="main">
        <div class="main_left">
            <h1>Orders.</h1>

            <div class="row_left">
                <div class="row1_left">Todays new orders</div>
                <div class="row2_right">{{ new_orders_today_sld }} (save 92%)<br/>
                    {{ new_orders_today_ssd }} (Stop Smoking)
                </div>
            </div>
            <div class="row_left">
                <div class="row1_left">Todays Subscriptions</div>
                <div class="row2_right">{{ subscription_today_sld }} (save 92%)<br/>
                    {{ subscription_today_ssd }} (Stop Smoking)
                </div>
            </div>
            <div class="row_left">
                <div class="row1_left">Pending Orders</div>
                <div class="row2_right">{{ pending_orders_sld }} (save 92%)<br/>
                    {{ pending_orders_ssd }} (Stop Smoking)
                </div>
            </div>
            <div class="row_left">
                <div class="row1_left">Tomorrows Subscriptions</div>
                <div class="row2_right">{{ subscription_tomorrow_sld }} (save 92%)<br/>
                    {{ subscription_tomorrow_ssd }} (Stop Smoking)
                </div>
                <div class="row_left"></div>
            </div>


        </div>

        <div class="main_right">
            <h1>Subscribers.</h1>

            <div class="main_right_row">
                <div class="row1_left">Todays new subscribers</div>
                <div class="row2_right">{{ today_new_subscribers_sld }} (save 92%)
                    <br/>
                    {{ today_new_subscribers_ssd }} (Stop Smoking)
                </div>
            </div>
            <div class="main_right_row">
                <div class="row1_left">Total subscribers</div>
                <div class="row2_right">{{ total_subscribers_sld }} (save 92%)
                    <br/>
                    {{ total_subscribers_ssd }} (Stop Smoking)
                </div>
            </div>


        </div>
        <div class="main_right" style="margin-top:20px;">
            <h1>Stock.</h1>
        </div>

    </div>


</div>
{% endblock %}