{% extends "backend/general_login.html" %}

{% load i18n %}

{% block content %}

    <div id="matter_container">
        <div class="main">
            <div style="width:740px; float:left;  box-shadow: 10px 10px 5px #888888; background-color:#FFF; padding:20px 20px 10px 20px; margin:70px 0px 0px 100px; border-radius:10px;">
                <div style="width:328px; margin:0 auto;">
                    <div style="font-size:34px; margin-bottom:10px;">
                        <h1 style="font-size:34px; text-align:left;">Login</h1></div>
                     {% if form.errors %}
                        <p  style="text-align: center;font-weight: bold">{% trans "Your username and password didn't match. Please try again." %}</p>
                    {% endif %}
                    <form method="post" action="{% url 'django.contrib.auth.views.login' %}">{% csrf_token %}
                        <label for="username">Username:</label><br/>
                        <input type="text" id="username" name="username">
                        <label for="password">Password:</label><br/>
                        <input type="password" id="password" name="password">

                        <div id="lower">
                            <!-- /*<input type="checkbox"><label class="check" for="checkbox">Keep me logged in</label>*/-->
                            <input type="submit" value="Login">
                        </div>
                        <!--/ lower-->
                    </form>
                </div>


            </div>
        </div>
    </div>
{% endblock %}