{% extends "general.html" %}

{% load i18n %}

{% block content %}
<div id="message_view_tag" class="jqmWindow" style="position: absolute;">
</div>
<div id="matter_container">
    <div class="main">
        <div id="search_container_left" style="float: left;display: inline;margin-left: 100px;"><h1>Search for &nbsp;<select id="status_msg" name="name" style="border:1px solid #CCC; ">
            <option value="0">&nbsp;All&nbsp;</option>
            <option value="1">&nbsp;Received&nbsp;</option>
            <option value="2">&nbsp;Sent&nbsp;</option>
        </select></h1></div>
        <div id="search_container_right" style="float: left;display: inline;">
                <div style="float: left; display: inline; margin-left: 5px;">
                    <h1> &nbsp;Subscribers by &nbsp;<select id="option_selecter_msg" name="selecter" style="border:1px solid #CCC;">
                    <option value="0">&nbsp; All &nbsp;</option>
                    <option value="1">&nbsp; By subscriber name &nbsp;</option>
                    <option value="2">&nbsp; By subscriber postcode &nbsp;</option>
                </select></h1>
                </div>
                <div id="send_form" style="width: 210px; float: left; display: inline; padding-top:0px; display: none;margin: 0px;padding-left: 5px;">
                    <div style="margin-left: 0px;padding-left: 0px;width: 200px;">
                        <input id="filter_text_msg" type="text" name="send_value" style="width: 200px; height: 20px; margin-top: 5px; margin-left: 0px; padding-left: 0px;">
                    </div>
                </div>
         </div>


        <div class="order_wapper">
            <div class="order_inner" id="msg_content">
                <!--heading -->
                <div class="row_heading">
                    <div class="col_o1">First name</div>
                    <div class="col_o2">
                        Second name
                    </div>
                    <div class="col_o3">Status</div>
                    <div class="col_o4">Date
                    </div>
                    <div class="col_o5">Action
                    </div>
                </div>
                <!--heading -->
                <div id="pagination_content">
                    {% for id,msg in sldmsg_dict.iteritems %}
                    <div class="row1_col" id="sld_msg_{{ id }}">
                       <div class="col_to1">{{ msg.0 }}</div>
                        <div class="col_to2">{{ msg.1 }}</div>
                        {% if msg.2 == 'received' %}
                          <div class="col_to3">{{ msg.2 }}<span style="color: red">(not replied to)</span></div>
                        {% else %}
                           <div class="col_to3">{{ msg.2 }}</div>
                        {% endif %}
                        <div class="col_to4">{{ msg.3 }}</div>
                        <div class="col_to5"><a style="cursor: pointer" onclick="view_message({{ id }},'{{ msg.4 }}')">View</a></div>
                    </div>
                    {% endfor %}

                   {% for id,msg in sldpublicmsg_dict.iteritems %}
                    <div class="row1_col" id="sldp_msg_{{ id }}">
                        <div class="col_to1">{{ msg.0 }}</div>
                        <div class="col_to2">{{ msg.1 }}</div>
                        {% if msg.2 == 'received' %}
                          <div class="col_to3">{{ msg.2 }}<span style="color: red">(not replied to)</span></div>
                        {% else %}
                           <div class="col_to3">{{ msg.2 }}</div>
                        {% endif %}
                        <div class="col_to4">{{ msg.3 }}</div>
                        <div class="col_to5"><a style="cursor: pointer" onclick="view_message({{ id }},'{{ msg.4 }}')">View</a></div>
                    </div>
                    {% endfor %}

                    {% for id,msg in ssdmsg_dict.iteritems %}
                    <div class="row1_col" id="ssd_msg_{{ id }}">
                        <div class="col_to1">{{ msg.0 }}</div>
                        <div class="col_to2">{{ msg.1 }}</div>
                        {% if msg.2 == 'received' %}
                          <div class="col_to3">{{ msg.2 }}<span style="color: red">(not replied to)</span></div>
                        {% else %}
                           <div class="col_to3">{{ msg.2 }}</div>
                        {% endif %}
                        <div class="col_to4">{{ msg.3 }}</div>
                        <div class="col_to5"><a style="cursor: pointer" onclick="view_message({{ id }},'{{ msg.4 }}')">View</a></div>
                    </div>
                    {% endfor %}

                   {% for id,msg in ssdpublicmsg_dict.iteritems %}
                    <div class="row1_col" id="ssdp_msg_{{ id }}">
                        <div class="col_to1">{{ msg.0 }}</div>
                        <div class="col_to2">{{ msg.1 }}</div>
                        {% if msg.2 == 'received' %}
                          <div class="col_to3">{{ msg.2 }}<span style="color: red">(not replied to)</span></div>
                        {% else %}
                           <div class="col_to3">{{ msg.2 }}</div>
                        {% endif %}
                        <div class="col_to4">{{ msg.3 }}</div>
                        <div class="col_to5"><a style="cursor: pointer" onclick="view_message({{ id }},'{{ msg.4 }}')">View</a></div>
                    </div>
                    {% endfor %}


                   {% for id,msg in adminmsg_dict.iteritems %}
                    <div class="row1_col" id="admin_msg_{{ id }}">
                        <div class="col_to1">{{ msg.0 }}</div>
                        <div class="col_to2">{{ msg.1 }}</div>
                        {% if msg.2 == 'received' %}
                          <div class="col_to3">{{ msg.2 }}<span style="color: red">(not replied to)</span></div>
                        {% else %}
                           <div class="col_to3">{{ msg.2 }}</div>
                        {% endif %}
                        <div class="col_to4">{{ msg.3 }}</div>
                        <div class="col_to5"><a style="cursor: pointer" onclick="view_message({{ id }},'{{ msg.4 }}')">View</a></div>
                    </div>
                    {% endfor %}


                </div>


            </div>

        </div>


    </div>


</div>

{% endblock %}