{% extends "general.html" %}

{% load i18n %}

{% block content %}
<div id="print_processing" class="jqmWindow" style="margin-top:30px;margin-left:-150px;width: 220px;height: 50px;">
        <p class="text" style="margin-left: 10px;"><img src="/media/images/large-loading.gif" style="float: left;margin-top: 5px;"> <span style="float: left; font-size: 13px;margin-left: 5px;margin-top: 10px;">Processing please wait ....</span><br/>
</div>
<div id="matter_container">
    <div class="main">
        <div id="search_container">
            <div style="float: left; display: inline; margin-left: 100px;">
                <h1> Search for order by &nbsp;<select id="option_selecter" name="name" style="border:1px solid #CCC;">
                    <option value="0">&nbsp; All &nbsp;</option>
                    <option value="1">&nbsp; Order batch &nbsp;</option>
                    <option value="2">&nbsp; Order number &nbsp;</option>
                    <option value="3">&nbsp; All pending &nbsp;</option>
                </select></h1>
            </div>
            <div id="send_form" style="width: 500px; float: left; display: inline; padding-top:0px; display: none">
                    <input id="filter_text" type="text" name="send_value" style="width: 200px; height: 20px; margin-top: 5px;">
            </div>
        </div>
        <div class="order_wapper" id="order_wrapper_content">
            <div class="order_inner" id="order_content">
                <!--heading -->
                <div class="row_heading">
                    <div class="col_o2">Order Batch</div>
                    <div class="col_o2">
                        Orders
                    </div>
                    <div class="col_o3">Created on</div>
                    <div class="col_o4">Status
                    </div>
                    <div class="col_o5">Action
                    </div>
                </div>
                <!--heading -->
                {%  for id,batch in batchs.iteritems %}
                    <div class="row1_col" id="batch_{{ id }}">
                    <div class="col_to1">{{ id }}</div>
                    <div class="col_to2">{{ batch.0 }}</div>
                    <div class="col_to3">{{ batch.1 }}</div>
                        {% if  batch.2 == 'PENDING'%}
                           <div class="col_to4"><span style="color:#F00;">PENDING</span></div>
                        {% else %}
                            <div class="col_to4">Printed</div>
                        {% endif %}

                    <div class="col_to5"><a onclick="print_batch_as_html('{{ urlpart }}',{{ id }},'{{ batch.4 }}')" style="cursor: pointer">Print </a>| <a id="link_batch_{{ id }}" style="cursor: pointer" onclick="viewlist('child_batch_{{ id  }}','link_batch_{{ id }}')">View List</a></div>
                    {% for order in batch.3 %}
                        <div id="{{ order.4 }}_{{ order.0 }}" class="row1_col child_batch_{{ id }}" style="display:none">
                            <div class="col_to1"><span style="font-style:italic">&lt; {{ order.1  }}&gt;</span></div>
                            <div class="col_to2"><span style="font-style:italic">{{ order.2  }}</span></div>
                            <div class="col_to3"><span style="font-style:italic">{{ order.3  }}</span></div>
                            <div class="col_to4"><span style="font-style:italic">&nbsp;</span></div>
                            <div class="col_to5"><span style="font-style:italic"><a style="cursor: pointer" onclick="print_order_as_html('{{ urlpart }}',{{ order.0 }},'{{ order.4 }}')"> Print </a> | <a style="cursor: pointer" onclick="view_order({{ order.0 }},'{{ order.4 }}')">View order</a></span></div>
                        </div>
                    {% endfor %}
                </div>

                {% endfor %}
            </div>
            <div class="button_wapper">
               {% if print_all_pending  %}
                 <div class="button" style="cursor: pointer" onclick="print_all_orders_as_html()">Print All Pending Orders</div>
               {% else %}
                 <div class="button" style="cursor: pointer;background-color: #808080;">Print All Pending Orders</div>
               {% endif %}
            </div>
        </div>


    </div>


</div>
{% endblock %}