<!DOCTYPE html>
<html>
<head>
    <title>order {{ order_umber }}</title>
    <style type="text/css">
          body {
             size: a4;
	         font-size: 11px;
          }
    </style>
</head>
<body style="font-size: 14px;">
<TABLE  WIDTH=100% CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=128*>
	<COL WIDTH=128*>
	<TR VALIGN=TOP>
		<TD WIDTH=15% style="margin-bottom: 0px;padding-bottom: 0px;">
			<P ALIGN=RIGHT STYLE="border: none; padding: 0in; margin: 0in;;text-align: left">Order batch:</P>
		</TD>
        <TD WIDTH=35% style="margin-bottom: 0px;padding-bottom: 0px;">
			<P ALIGN=LEFT STYLE="border: none; padding: 0in; margin: 0in;">{{ order_batch }}</P>
		</TD>
		<TD WIDTH=25% style="padding-top: 0px;">
			<P ALIGN=RIGHT STYLE="border: none; padding: 0in;text-align: left">Generated on:</P>
		</TD>
        <TD WIDTH=25% style="padding-top: 0px;">
			<P ALIGN=LEFT STYLE="border: none; padding: 0in"> {{ generated_on }}</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=15% style="margin-bottom: 0px;padding-bottom: 0px;">
			<P ALIGN=RIGHT STYLE="border: none; padding: 0in;text-align: left">Order number:</P>
		</TD>
        <TD WIDTH=35% style="margin-bottom: 0px;padding-bottom: 0px;">
			<P ALIGN=LEFT STYLE="border: none; padding: 0in;">{{ order_number }}</P>
		</TD>
		<TD WIDTH=25% style="padding-top: 0px;">
			<P ALIGN=RIGHT STYLE="border: none; padding: 0in;text-align: left">Printed on:</P>
		</TD>
        <TD WIDTH=25% style="padding-top: 0px;">
			<P ALIGN=LEFT STYLE="border: none; padding: 0in;">{{ printed_on }}</P>
		</TD>
	</TR>
</TABLE>
<br>
<TABLE WIDTH=100% CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=256*>
	<TR>
		<TD WIDTH=100% VALIGN=TOP STYLE="border: none; padding: 0in">
			<P style="text-decoration: underline; margin-left: 50px;"> Please note: For your convenience we have sent you your next two months supply together!
</P>
		</TD>
	</TR>
</TABLE>
<TABLE WIDTH=89% WIDTH=664 CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=29>
	<COL WIDTH=329>
	<COL WIDTH=106>
	<COL WIDTH=97>
	<COL WIDTH=63>
	<TR VALIGN=TOP>
		<TD WIDTH=29 STYLE="border: none; padding: 0in">
			<P ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=329 STYLE="border: none; padding: 0in">
			<P ALIGN=LEFT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product</P>
		</TD>
		<TD WIDTH=106 STYLE="border: none; padding: 0in">
			<P ALIGN=CENTER>Location</P>
		</TD>
		<TD WIDTH=97 STYLE="border: none; padding: 0in">
			<P ALIGN=CENTER>Qnty</P>
		</TD>
		<TD WIDTH=63 STYLE="border: none; padding: 0in">
			<P ALIGN=CENTER>Picked</P>
		</TD>
	</TR>
    {% for id, product in product_list.iteritems %}
        {% if product.0 == '-'%}
            <TR VALIGN=TOP id="row_prod_{{ id }}">
                <TD WIDTH=29 STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>&nbsp;&nbsp;</P>
                </TD>
                <TD WIDTH=329 STYLE="border: none; padding: 0in">
                    <P>&nbsp;&nbsp;
                    </P>
                </TD>
                <TD WIDTH=106 STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>&nbsp;&nbsp;
                    </P>
                </TD>
                <TD WIDTH=97 STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>&nbsp;&nbsp;
                    </P>
                </TD>
                <TD WIDTH=63 STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>&nbsp;&nbsp;
                    </P>
                </TD>
            </TR>
        {% else %}
            <TR VALIGN=TOP id="row_prod_{{ id }}">
                <TD WIDTH=29 STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>{{ id }}.</P>
                </TD>
                <TD WIDTH=329 STYLE="border: none; padding: 0in">
                    <P>{{ product.0 }}
                    </P>
                </TD>
                <TD WIDTH=106 STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>{{ product.1 }}
                    </P>
                </TD>
                <TD WIDTH=97 STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>{{ product.2 }}
                    </P>
                </TD>
                <TD WIDTH=63 STYLE="border: none; padding: 0in">
                    <P ALIGN=CENTER>{{ product.3 }}
                    </P>
                </TD>
            </TR>
        {% endif %}
   {% endfor %}
</TABLE>
<br>
<TABLE WIDTH=664 CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=656>
	<TR>
		<TD WIDTH=656 VALIGN=TOP STYLE="border: none; padding: 0in">
			<P ALIGN=CENTER>Checked by: <span style="text-decoration: underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></P>
		</TD>
	</TR>
</TABLE>
<br>
<br>
<br>
<TABLE CELLSPACING=0>
	<TR>
		<TD VALIGN=TOP>
			<P STYLE="border:1px solid #a9a9a9;margin-left:15mm;margin-right: 15mm;text-align: center;">
                <br>
                <b>INSTRUCTIONS – PLEASE READ</b>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </P>
		</TD>
	</TR>
</TABLE>
</body>
</html>