<!DOCTYPE html>
<html>
<head>
    <title>order {{ order_number }}</title>
    <style type="text/css">
        @page { margin: 0px auto;}

        @media print{
            header{ display: none;}
        }

        body {
             size: a4;
	         font-size: 15px;
          }
    </style>
    <script type="text/javascript" src="media/js/jquery.js"></script>
    <script type="text/javascript">
        $(document).ready(function(){
            window.print();
            window.close();
        });
    </script>
</head>
<body>
{% for batch in batch_list %}
<TABLE  WIDTH=100% CELLPADDING=0 CELLSPACING=0>
	<COL WIDTH=128*>
	<COL WIDTH=128*>
	<TR VALIGN=TOP>
		<TD WIDTH=12% style="margin: 0in; padding: 0in;">
			<P ALIGN=RIGHT STYLE="border: none; padding: 0in; margin: 0in;text-align: left">Order batch:</P>
		</TD>
        <TD WIDTH=38% style="margin: 0in; padding: 0in;">
			<P ALIGN=LEFT STYLE="border: none; padding: 0in; margin: 0in;">{{ batch.0 }}</P>
		</TD>
		<TD WIDTH=25% style="margin: 0in; padding: 0in;">
			<P ALIGN=RIGHT STYLE="border: none; padding: 0in;margin: 0in;text-align: right">Generated on:</P>
		</TD>
        <TD WIDTH=25% style="margin: 0in; padding: 0in;">
			<P ALIGN=LEFT STYLE="border: none; padding: 0in;margin: 0in;"> {{ batch.2 }}</P>
		</TD>
	</TR>
	<TR VALIGN=TOP>
		<TD WIDTH=12% style="margin: 0in; padding: 0in;">
			<P ALIGN=RIGHT STYLE="border: none; padding: 0in;margin: 0in;text-align: left">Order number:</P>
		</TD>
        <TD WIDTH=38% style="margin: 0in; padding: 0in;">
			<P ALIGN=LEFT STYLE="border: none; padding: 0in;margin: 0in;">{{ batch.1 }}</P>
		</TD>
		<TD WIDTH=25% style="margin: 0in; padding: 0in;">
			<P ALIGN=RIGHT STYLE="border: none; padding: 0in;margin: 0in;text-align: right">Printed on:</P>
		</TD>
        <TD WIDTH=25% style="margin: 0in; padding: 0in;">
			<P ALIGN=LEFT STYLE="border: none; padding: 0in;margin: 0in;">{{ batch.3 }}</P>
		</TD>
	</TR>
</TABLE>
<TABLE WIDTH=100% CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=256*>
	<TR>
		<TD WIDTH=100% VALIGN=TOP STYLE="border: none; padding: 0in">
			<P style="text-decoration: underline; margin-left: 100px;"> Please note: For your convenience we have sent you your next two months supply together!
</P>
		</TD>
	</TR>
</TABLE>
<TABLE WIDTH=82% CELLPADDING=4 CELLSPACING=0>
	<COL WIDTH=29>
	<COL WIDTH=329>
	<COL WIDTH=106>
	<COL WIDTH=97>
	<COL WIDTH=63>
	<TR VALIGN=TOP>
		<TD WIDTH=29 STYLE="border: none; padding: 0in">
			<P ALIGN=CENTER></P>
		</TD>
		<TD WIDTH=329 STYLE="border: none; padding: 0in">
			<P ALIGN=LEFT>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Product</P>
		</TD>
		<TD WIDTH=106 STYLE="border: none; padding: 0in">
			<P ALIGN=CENTER>Location</P>
		</TD>
		<TD WIDTH=97 STYLE="border: none; padding: 0in">
			<P ALIGN=CENTER>Qnty</P>
		</TD>
		<TD WIDTH=63 STYLE="border: none; padding: 0in">
			<P ALIGN=CENTER>Picked</P>
		</TD>
	</TR>
    {% for product in batch.4 %}
        {% if product.1 == '-'%}
            <TR VALIGN=TOP id="row_prod_{{ product.0 }}">
                <TD WIDTH=29 STYLE="border: none; padding: 0in; margin: 0in;">
                    <P ALIGN=CENTER>&nbsp;&nbsp;</P>
                </TD>
                <TD WIDTH=329 STYLE="border: none; padding: 0in; margin: 0in;">
                    <P>&nbsp;&nbsp;
                    </P>
                </TD>
                <TD WIDTH=106 STYLE="border: none; padding: 0in; margin: 0in;">
                    <P ALIGN=CENTER>&nbsp;&nbsp;
                    </P>
                </TD>
                <TD WIDTH=97 STYLE="border: none; padding: 0in; margin: 0in;">
                    <P ALIGN=CENTER>&nbsp;&nbsp;
                    </P>
                </TD>
                <TD WIDTH=63 STYLE="border: none; padding: 0in; margin: 0in;">
                    <P ALIGN=CENTER>&nbsp;&nbsp;
                    </P>
                </TD>
            </TR>
        {% else %}
            <TR  VALIGN=TOP id="row_prod_{{ product.0 }}">
                <TD WIDTH=29 STYLE="border: none; padding: 0in; margin: 0in;">
                    <P ALIGN=CENTER>{{ product.0 }}.</P>
                </TD>
                <TD WIDTH=329 STYLE="border: none; padding: 0in; margin: 0in;">
                    <P>{{ product.1 }}
                    </P>
                </TD>
                <TD WIDTH=106 STYLE="border: none; padding: 0in; margin: 0in;">
                    <P ALIGN=CENTER>{{ product.2 }}
                    </P>
                </TD>
                <TD WIDTH=97 STYLE="border: none; padding: 0in; margin: 0in;">
                    <P ALIGN=CENTER>{{ product.3 }}
                    </P>
                </TD>
                <TD WIDTH=63 STYLE="border: none; padding: 0in; margin: 0in;">
                    <P ALIGN=CENTER>{{ product.4 }}
                    </P>
                </TD>
            </TR>
        {% endif %}
   {% endfor %}
</TABLE>
<BR>
<BR>
<TABLE WIDTH=100% CELLPADDING=0 CELLSPACING=0>
	<COL WIDTH=656>
	<TR>
		<TD WIDTH=656 VALIGN=TOP STYLE="border: none; padding: 0in; margin: 0in;">
			<P ALIGN=LEFT style="margin-left: 150px;">Checked by: <span style="text-decoration: underline">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span></P>
		</TD>
	</TR>
</TABLE>
<BR>
<BR>
<BR>
<BR>
<TABLE CELLSPACING=0 WIDTH=100%>
	<TR>
		<TD VALIGN=TOP>
			<P STYLE="border:1px solid #a9a9a9;margin-left:25mm;margin-right: 25mm;text-align: center;">
                <br>
                <b>INSTRUCTIONS – PLEASE READ</b>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
            </P>
		</TD>
	</TR>
</TABLE>
<p style="page-break-after: always"></p>
    <br>
    <br>

{% endfor %}
</body>
</html>