{% extends "general.html" %}

{% load i18n %}

{% block content %}
<div id="matter_container">
    <div id="main_div" class="main">
         <div id="search_container_left" style="float: left;display: inline;margin-left: 100px;"><h1>Search for &nbsp;<select id="status_subs" name="name" style="border:1px solid #CCC; ">
            <option value="0">&nbsp;All&nbsp;</option>
            <option value="1">&nbsp;active&nbsp;</option>
            <option value="2">&nbsp;Cancelled&nbsp;</option>
            <option value="3">&nbsp;Cancellation Pending&nbsp;</option>
        </select></h1></div>
        <div id="search_container_right" style="float: left;display: inline;">
                <div style="float: left; display: inline; margin-left: 5px;">
                    <h1> &nbsp;Subscribers by &nbsp;<select id="option_selecter_subs" name="selecter" style="border:1px solid #CCC;">
                    <option value="0">&nbsp; All &nbsp;</option>
                    <option value="1">&nbsp; By subscriber name &nbsp;</option>
                    <option value="2">&nbsp; By subscriber postcode &nbsp;</option>
                </select></h1>
                </div>
                <div id="send_form" style="width: 210px; float: left; display: inline; padding-top:0px; display: none;margin: 0px;padding-left: 5px;">
                    <div style="margin-left: 0px;padding-left: 0px;width: 200px;">
                        <input id="filter_text_subs" type="text" name="send_value" style="width: 200px; height: 20px; margin-top: 5px; margin-left: 0px; padding-left: 0px;">
                    </div>
                </div>
         </div>

        <div class="order_wapper">
            <div class="order_inner" id="subs_content">
                <!--heading -->
                <div class="row_heading">
                    <div class="S_col_o1">First name</div>
                    <div class="S_col_o2">
                        Second name
                    </div>
                    <div class="S_col_o3">Last order sent</div>
                    <div class="S_col_o4">Next order due
                    </div>
                    <div class="S_col_o5">status
                    </div>
                    <div class="S_col_o6">Action
                    </div>
                </div>
                <!--heading -->

                <div id="pagination_content" style="height: 300px;">
                    <!--row -->
                    {% for id,subs in sld_cancelled_subscriptions_dict.iteritems %}
                    <div id="subs_sld_{{ id }}" class="row1_col">
                        <div class="s_col_to1" style="color:red">{{ subs.0 }}</div>
                        <div class="s_col_to2" style="color:red">{{ subs.1 }}</div>
                        <div class="s_col_to3" style="color:red">{{ subs.2 }}</div>
                        <div class="s_col_to4" style="color:red">{{ subs.3 }}</div>
                        <div class="s_col_to5" style="color:red">{{ subs.4 }}</div>
                        <div class="s_col_to6" style="color:red"><a style="cursor: pointer" onclick="view_subs('sld',{{ id }})"> view </a> | <a style="cursor: pointer" onclick="autorize_cancellation('sld',{{ id }})"> Cancel </a></div>
                    </div>
                    {% endfor %}
                    <!--row -->

                    <!--row -->
                    {% for id,subs in ssd_cancelled_subscriptions_dict.iteritems %}
                    <div id="subs_ssd_{{ id }}" class="row1_col">
                        <div class="s_col_to1" style="color:red">{{ subs.0 }}</div>
                        <div class="s_col_to2" style="color:red">{{ subs.1 }}</div>
                        <div class="s_col_to3" style="color:red">{{ subs.2 }}</div>
                        <div class="s_col_to4" style="color:red">{{ subs.3 }}</div>
                        <div class="s_col_to5" style="color:red">{{ subs.4 }}</div>
                        <div class="s_col_to6" style="color:red"><a style="cursor: pointer" onclick="view_subs('ssd',{{ id }})"> view </a> | <a style="cursor: pointer" onclick="autorize_cancellation('ssd',{{ id }})"> Cancel </a></div>
                    </div>
                    {% endfor %}
                    <!--row -->

                    <!--row -->
                    {% for id,subs in sld_subscriptions_dict.iteritems %}
                    <div id="subs_sld_{{ id }}" class="row1_col">
                        <div class="s_col_to1">{{ subs.0 }}</div>
                        <div class="s_col_to2">{{ subs.1 }}</div>
                        <div class="s_col_to3">{{ subs.2 }}</div>
                        <div class="s_col_to4">{{ subs.3 }}</div>
                        <div class="s_col_to5">{{ subs.4 }}</div>
                        <div class="s_col_to6"><a style="cursor: pointer" onclick="view_subs('sld',{{ id }})"> view </a></div>
                    </div>
                    {% endfor %}
                    <!--row -->

                    <!--row -->
                    {% for id,subs in ssd_subscriptions_dict.iteritems %}
                    <div id="subs_ssd_{{ id }}" class="row1_col">
                        <div class="s_col_to1">{{ subs.0 }}</div>
                        <div class="s_col_to2">{{ subs.1 }}</div>
                        <div class="s_col_to3">{{ subs.2 }}</div>
                        <div class="s_col_to4">{{ subs.3 }}</div>
                        <div class="s_col_to5">{{ subs.4 }}</div>
                        <div class="s_col_to6"><a style="cursor: pointer" onclick="view_subs('ssd',{{ id }})"> view </a></div>
                    </div>
                    {% endfor %}
                    <!--row -->
               </div>

            </div>

        </div>

     </div>

</div>
{% endblock %}