<div class="popup_wapper">
    <div style="text-align:right; width:520px; padding-top:5px;"><a style="cursor: pointer" class="jqmClose"><img src="media/images/public/close.png" width="30px"
                                                                      height="30px"/></a></div>

    <div class="popup_inner">

        <div class="popup_row">
            <div class="pop_left">
                <h1>Delivery Address:</h1>

                <div class="pop_left1">{{ delivery_address }}</div>
            </div>
            <div class="pop_right">
                <h1>Billing Address:</h1>

                <div class="pop_right1">{{ billing_address }}</div>
            </div>
        </div>


        <div class="sec_popup_row">
            <p class="text">Email Address:<span style="color:#000"> {{ email_address }}</span><br/>
                Last billed:<span style="color:#000"> {{ last_billed }} </span><br/>
                Next billed:<span style="color:#000"> {{ next_billed }} </span><br/>
                Cancellation available on:<span style="color:#000"> {{ cancellation_available }} </span></p>

            <p class="text" style=" margin-top:20px;">
                Last order sent on:<span style="color:#000"> {{ last_order }} </span><br/>
                Next order due on:<span style="color:#000"> {{ next_order }} </span> <br/>
                Plan name: <span style="color:#000">{{ plan_name }}&nbsp;</span> <br/>
            </p>

            <div class="button_wapper">
                {% if  show_cancel_button%}
                    <div class="button" onclick="autorize_cancellation('{{ database }}',{{ id }})" style="cursor: pointer;">Cancel Subscription</div>
                {% else %}
                    <div class="button" style="background-color: #808080;">Cancel Subscription</div>
                {% endif %}
            </div>
        </div>
    </div>
</div>