<div class="popup_wapper">
    <span style="text-align: left;float:left;display: inline; padding-top: 5px; padding-left: 3px; font-weight: bold;">Message {{ msg_header }}</span><div style="text-align:right; width:50px; padding-top:5px;float:right;display: inline;"><a style="cursor: pointer" class="jqmClose"><img src="media/images/public/close.png" width="30px"
                                                                      height="30px"/></a></div>

    <div class="popup_inner">

        <div class="popup_row">
            {% if subject != '' %}
            <div class="pop_left" style="width: 100%;">
                <h1 style="text-align: left">Subject:</h1>
                <div style="width: 100%;text-align: left;">{{ subject }}</div>
            </div>
            {% endif %}
            <div class="pop_left" style="width: 100%;">
                <h1 style="text-align: left">Message body:</h1>
                <div class="pop_left1" style="width: 100%;text-align: left;padding-left: 5px;">{{ body }}</div>
            </div>
        </div>
         {% if allow_replied %}
             <div class="popup_row" style="margin-top: 5px;margin-bottom: 5px;">
                <div class="pop_right">
                    <div style="width: 100%;text-align: right;"><a id="display_form" style="cursor: pointer" onclick="show_replied_form()">Reply</a></div>
                </div>
            </div>
         {% endif %}

        {% if not is_replied %}
            <div class="sec_popup_row" id="replied_form" style="display:none;width: 100%;">
                <form action="/ouradmin/reply_msg/{{ msg_id }}/{{ db }}" method="post">{% csrf_token %}
                    <p class="text">
                        <h1 style="text-align: left">Reply body:</h1><span style="color:#000"> <textarea name="body" style="width: 100%;text-align: left;height:150px;"></textarea> </span><br/>
                     </p>
                    <div class="button_wapper">
                        <div class="button" onclick="$('form').submit()" style="cursor: pointer;">Send</div>
                    </div>
                </form>
            </div>
       {% else %}
            <div class="sec_popup_row" id="replied_form" style="width: 100%;">
            <form action="/ouradmin/reply_msg/{{ msg_id }}/{{ db }}" method="post">{% csrf_token %}
                <h1 style="text-align: left">Reply body:</h1>
                <div class="pop_left1" style="width: 100%;text-align: left;padding-left: 5px;">{{ reply.body }}</div>
            </form>
        </div>
       {% endif %}
    </div>
</div>