{% extends "general_frontend.html" %}

{% load i18n %}

{% block main %}
    
<div class="container">
<!--...............................Header start.............................-->
<div class="header_top">
<div class="col-lg-5">
<div class="menu_bar">
<ul>
<li><a href="/home">Buy Now</a></li>
<li><a href="/our_flavours">Our Flavours</a></li>
<li><a href="/ourpipes">Our Smoking Pipe</a></li>
</ul>
</div>
</div>
<div class="col-lg-2"><div class="logo_bar"><a href="/home"><img src="media/images/logo.jpg" class="img-responsive" alt="Responsive image"/></a></div></div>
<div class="col-lg-5"><div class="menu_bar">
<ul>
<li><a href="/nicotine_reduction">Nicotine Reduction Directive</a></li>
<li><a href="/contact_us">Contact Us</a></li>
</ul>
</div></div>
</div>
<!--...............................Header end.............................-->
<!--...............................banner start.............................-->
<div class="col-lg-12"><img src="media/images/banner5.jpg" class="img-responsive" alt="Responsive image"/></div>
<div class="clear"></div>
<!--...............................banner end.............................-->
</div>
<div class="container">
<div class="container_bagground">
<div class="col-lg-12">
<div class="smoking_pipe_title">Talk to Us...<p>If you have any questions or you want to share your thoughts about our service, please<br /> contact us here:</p></div></div>
<div class="col-lg-10">
<form id="public_contact_form" method="post" action="/contact_us/">{% csrf_token %}
<div class="contactus_field_box">
<div class="col-lg-12">
<div class="col-lg-4"><div class="contactus_field_name">Your Name</div></div>
<div class="col-lg-8"><input id="name" type="text" name="name" class="contactus_text_box" /></div></div>
<div class="col-lg-12">
<div class="col-lg-4"><div class="contactus_field_name">Your email address</div></div>
<div class="col-lg-8"><input id="email" type="text" name="email" class="contactus_text_box" /></div></div>
<div class="col-lg-12">
<div class="col-lg-4"><div class="contactus_field_name">Your message</div></div>
<div class="col-lg-8"><textarea id="message" name="message" cols="" rows="" class="your_message_area"> {% if captcha == 0 %}{{ message }}{% endif %}</textarea></div></div>
<div class="col-lg-12">
<div class="col-lg-4"></div>
<div class="contactus_field_name">Please type here the code you see in the box to the right</div>
<div class="col-lg-4"></div>
<div class="col-lg-8"><div class="captcha_activa">{{ form }}</div>
    {% if captcha == 0 %}
        <script type="text/javascript">
            $('#id_captcha_1').addClass('input_error')
        </script>
    {% endif %}
<div class="clear"></div>
<div class="send_button"><a style="cursor: pointer" onclick="send_contact_us()"><img src="media/images/send.jpg" class="img-responsive" alt="Responsive image"/></a></div>
</div>
</div>
</div>
</form>
<!--...............................footer start.............................-->
<div class="col-lg-12">
<div class="clear"></div>
<div class="foo_ter">
<ul>
<li><a href="/home">Buy Now</a></li>
<li><a href="/our_flavours">Our Flavours</a></li>
<li><a href="/ourpipes">Our Smoking Pipe</a></li>
<li><a href="/nicotine_reduction">Nicotine Reduction Directive</a></li>
<li><a href="/contact_us">Contact Us</a></li>
</ul>
<p>© 2013 Lambert Smoking liquid - All rights reserved</p>
</div></div>
<!--...............................footer end.............................-->
</div>
</div>
{% endblock %}