{% extends "general_frontend.html" %}

{% load i18n %}

{% block main %}
    <div class="container">
        <!--...............................Header start.............................-->
        <div class="header_top">
            <div class="col-lg-5">
                <div class="menu_bar">
                    <ul>
                        <li><a href="/home">Buy Now</a></li>
                        <li><a href="/our_flavours">Our Flavours</a></li>
                        <li><a href="/ourpipes">Our Smoking Pipe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="logo_bar"><a href="/home"><img src="media/images/logo.jpg" class="img-responsive"
                                                                alt="Responsive image"/></a></div>
            </div>
            <div class="col-lg-5">
                <div class="menu_bar">
                    <ul>
                        <li><a href="/nicotine_reduction">Nicotine Reduction Directive</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--...............................Header end.............................-->
        <!--...............................banner start.............................-->
        <div class="col-lg-12"><img src="media/images/banner.jpg" class="img-responsive" alt="Responsive image"/></div>
        <div class="clear"></div>
        <!--...............................banner end.............................-->
        <div class="col-lg-6">
            <div class="leftandright_bar">
                <div class="leftandright_bar_title">SAVE<span> 92%</span></div>
                <div class="left_content_box">
                    <div class="leftandright_bar_image">
                        <img src="media/images/leftarrow.jpg" class="img-responsive" alt="Responsive image"/>
                    </div>
                    <div class="leftandright_bar_conent">
                        Lets face it, its not the nicotine in a cigarette that causes cancer and other health problems,
                        it is the tar residue.
                    </div>
                </div>
                <div class="left_content_box">
                    <div class="leftandright_bar_image">
                        <img src="media/images/leftarrow.jpg" class="img-responsive" alt="Responsive image"/>
                    </div>
                    <div class="leftandright_bar_conent">
                        Lambert Smoking Liquid is a much healthier alternative to cigarettes because it contains the
                        same nicotine as a regular cigarette but without the tar.
                    </div>
                </div>
                <div class="left_content_box">
                    <div class="leftandright_bar_image">
                        <img src="media/images/leftarrow.jpg" class="img-responsive" alt="Responsive image"/>
                    </div>
                    <div class="leftandright_bar_conent">
                        Not only is Lambert Smoking liquid much Healthier than traditional cigarettes its also much
                        cheaper to buy.
                    </div>
                </div>
                <div class="left_content_box">
                    <div class="leftandright_bar_image">
                        <img src="media/images/leftarrow.jpg" class="img-responsive" alt="Responsive image"/>
                    </div>
                    <div class="leftandright_bar_conent">
                        Infact… most people who switch from cigarettes to Lambert Smoking Liquid will save around <span
                            style="color:#256bb2;">92%</span> !
                    </div>
                </div>
                <div class="clear"></div>
                <div class="find_click_here"><a href="http://www.smokingliquiddirect.co.uk"><img
                        src="media/images/forfind.jpg" class="img-responsive" alt="Responsive image"/></a></div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="leftandright_barRight">
                <div class="leftandright_bar_title_right">STOP Smoking!<p>The 2 Year Plan</p></div>
                <div class="left_content_boxRight">
                    <div class="leftandright_bar_imageRight">
                        <img src="media/images/leftarrow.jpg" class="img-responsive" alt="Responsive image"/>
                    </div>
                    <div class="leftandright_bar_conentRight">
                        The Nicotine in a cigarette is an addictive substance which is why many smokers struggle to
                        quit.
                    </div>
                </div>
                <div class="left_content_boxRight">
                    <div class="leftandright_bar_imageRight">
                        <img src="media/images/leftarrow.jpg" class="img-responsive" alt="Responsive image"/>
                    </div>
                    <div class="leftandright_bar_conentRight">
                        The 2 year plan from ‘Lambert Smoking Liquid’ is a new and exciting approach which has been
                        designed to help smokers gradually reduce their nicotine intake from 1.6% to 0% over a two year
                        period.
                    </div>
                </div>
                <div class="left_content_boxRight">
                    <div class="leftandright_bar_imageRight">
                        <img src="media/images/leftarrow.jpg" class="img-responsive" alt="Responsive image"/>
                    </div>
                    <div class="leftandright_bar_conentRight">
                        The plan works by gradually reducing the nicotine content within the smoking liquid at a rate
                        that allows the human body to adjust naturally to the change, 64 different strength liquids are
                        used with the 2 year plan which minimises the withdrawal symptoms.
                    </div>
                </div>
                <div class="left_content_boxRight">
                    <div class="leftandright_bar_imageRight">
                        <img src="media/images/leftarrow.jpg" class="img-responsive" alt="Responsive image"/>
                    </div>
                    <div class="leftandright_bar_conentRight">
                        The 2 year plan has been designed in line with the Nicotine Reduction Directive (see above) and
                        is ideal for those who struggle to quit.
                    </div>
                </div>
                <div class="clear"></div>
                <div class="find_click_hereRight"><a href="http://www.stopsmokingthe2yearplan.co.uk"><img
                        src="media/images/forfind.jpg" class="img-responsive" alt="Responsive image"/></a></div>
            </div>
        </div>
        <!--...............................footer start.............................-->
        <div class="col-lg-12">
            <div class="clear"></div>
            <div class="foo_ter">
                <ul>
                    <li><a href="/home">Buy Now</a></li>
                    <li><a href="/our_flavours">Our Flavours</a></li>
                    <li><a href="/ourpipes">Our Smoking Pipe</a></li>
                    <li><a href="/nicotine_reduction">Nicotine Reduction Directive</a></li>
                    <li><a href="/contact_us">Contact Us</a></li>
                </ul>
                <p>© 2013 Lambert Smoking liquid - All rights reserved</p>
            </div>
        </div>
        <!--...............................footer end.............................-->
    </div>

{% endblock %}