{% extends "general_frontend.html" %}

{% load i18n %}


{% block main %}
    <div class="container">
        <!--...............................Header start.............................-->
        <div class="header_top">
            <div class="col-lg-5">
                <div class="menu_bar">
                    <ul>
                        <li><a href="/home">Buy Now</a></li>
                        <li><a href="/our_flavours">Our Flavours</a></li>
                        <li><a href="/ourpipes">Our Smoking Pipe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="logo_bar"><a href="/home"><img src="media/images/logo.jpg" class="img-responsive"
                                                                alt="Responsive image"/></a></div>
            </div>
            <div class="col-lg-5">
                <div class="menu_bar">
                    <ul>
                        <li><a href="/nicotine_reduction">Nicotine Reduction Directive</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--...............................Header end.............................-->
        <!--...............................banner start.............................-->
        <div class="col-lg-12"><img src="media/images/banner4.jpg" class="img-responsive" alt="Responsive image"/></div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <!--...............................banner end.............................-->
    <div class="container">
        <div class="container_bagground">
            <div class="col-lg-12">
                <div class="smoking_pipe_title">Working Together</div>
            </div>
            <div class="col-lg-12">
                <div class="necoting_reduction">The Nicotine Reduction Directive<p>In recent years governments around
                    the world have increased their efforts to reduce the number of people who start smoking cigarettes,
                    whilst at the same time encouraging those who already smoke to quit.<br/>
                    This action is to be applauded however it is not just the governments responsibility to take such
                    action, suppliers within the industry have an even greater responsibility and with the right
                    approach and cooperation many more smokers can be encouraged to reduce their nicotine intake,
                    improve their health or quit smoking completely.</p></div>
                <div class="necoting_reduction">So what is the nicotine reduction directive?<p>The nicotine reduction
                    directive is a basic plan that outlines how companies who supply products that contain nicotine can
                    cooperate with governments to help reduce the number of people who use such products.<br/>
                    This industry led directive is based upon the results of research conducted to identify why most
                    people take up smoking, why they continue to smoke, and what stops them from quitting. To achieve
                    this directive a 2 stage plan has been put in place which can be executed in part or in full by
                    participating suppliers.<br/>
                    The first part of the directive aims at improving the health of smokers who want to continue
                    smoking, whilst the second part of the directive provides a realistic solution for those wanting to
                    stop.</p></div>
            </div>
            <div class="col-lg-12">
                <div class="necoting_reduction_box">
                    <div class="necoting_reduction_box_title">Part 1</div>
                    <div class="necoting_reduction_box_content">This first part of the Directive is to encourage people
                        to leave behind the cancer causing cigarettes and switch to the healthier smoking liquids which
                        provide the same level of nicotine but without the tar.
                        This can be achieved by making smoking liquids more socially acceptable and the preferred choice
                        for nicotine delivery. There are three requirements necessary for achieving this part of the
                        Directive and gaining an advantage over the traditional cancer causing cigarettes, these
                        requirements are:
                        <ul>
                            <li>Make the liquids more appealing than traditional cigarettes by making them available in
                                multiple flavours.
                            </li>
                            <li>Make the smoking liquids and necessary equipment just as accessible as the traditional
                                cigarettes.
                            </li>
                            <li>Minimise the liquid costs by allowing smokers to buy and use refillable equipment.</li>
                        </ul>
                        <p>These three requirements are essential for ensuring the success of this part of the
                            Directive, and without them the appeal to smokers to switch from the cancer causing
                            cigarettes to the healthier smoking liquids will be hindered.</p>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-lg-12">
                <div class="necoting_reduction_box">
                    <div class="necoting_reduction_box_title">Part 2</div>
                    <div class="necoting_reduction_box2_content">
                        <p>The second part of the Directive focuses on encouraging people who have already switched from
                            the cancer causing cigarettes to the less harmful smoking liquids to start reducing their
                            nicotine intake and eventually end their nicotine addiction.<br/><br/>

                            This will be achieved through the provision of a 2 year nicotine reduction plan which will
                            use 64 different strength liquids to help smokers gradually lower their nicotine intake and
                            reduce their nicotine dependency to a point where they can stop smoking altogether.</p>
                    </div>
                    <div class="necoting_reduction_box2_content">Success through Cooperation.
                        <p>The long term effect of the industry led Nicotine Reduction Directive, combined with the
                            on-going efforts from local and central governments to educate people about the dangers of
                            smoking tobacco filled cigarettes and nicotine addiction in general will help save lives on
                            a scale never before seen.</p>
                    </div>
                    <div class="necoting_reduction_box2_content">Objections Against the Directive…
                        <p>Although the directive is based on common sense there will no doubt be some objections made
                            against the directive itself, or moves to hinder the directives success by preventing the
                            participating suppliers from providing the service, products or equipment needed.<br/>
                            This type of action will come from certain individuals who have been elevated (not elected)
                            to a position within government where they have the power to shape the market in favour of
                            large conglomerates all without the support of the tax paying citizens.<br/>
                            Should such actions be successful the services that can be offered to help people quit
                            smoking will be limited.</p>
                    </div>
                </div>
            </div>
            <!--...............................footer start.............................-->
            <div class="col-lg-12">
                <div class="clear"></div>
                <div class="foo_ter">
                    <ul>
                        <li><a href="/home">Buy Now</a></li>
                        <li><a href="/our_flavours">Our Flavours</a></li>
                        <li><a href="/ourpipes">Our Smoking Pipe</a></li>
                        <li><a href="/nicotine_reduction">Nicotine Reduction Directive</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                    </ul>
                    <p>© 2013 Lambert Smoking liquid - All rights reserved</p>
                </div>
            </div>
            <!--...............................footer end.............................-->
        </div>
    </div>
{% endblock %}