{% extends "general_frontend.html" %}

{% load i18n %}

{% block main %}
    <div class="container">
        <!--...............................Header start.............................-->
        <div class="header_top">
            <div class="col-lg-5">
                <div class="menu_bar">
                    <ul>
                        <li><a href="/home">Buy Now</a></li>
                        <li><a href="/our_flavours">Our Flavours</a></li>
                        <li><a href="/ourpipes">Our Smoking Pipe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="logo_bar"><a href="/home"><img src="media/images/logo.jpg" class="img-responsive"
                                                                alt="Responsive image"/></a></div>
            </div>
            <div class="col-lg-5">
                <div class="menu_bar">
                    <ul>
                        <li><a href="/nicotine_reduction">Nicotine Reduction Directive</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--...............................Header end.............................-->
        <!--...............................banner start.............................-->
        <div class="col-lg-12"><img src="media/images/banner3.jpg" class="img-responsive" alt="Responsive image"/></div>
        <div class="clear"></div>
    </div>
    <div class="clear"></div>

    <!--...............................banner end.............................-->
    <div class="container">
        <div class="container_bagground">
            <div class="col-lg-12">
                <div class="smoking_pipe_title">Bursting with Flavour!</div>
            </div>
            <div class="col-lg-9">
                <div class="col-lg-4">
                    <div class="ourflavours_bar">
                        <div align="center"><a href="#"><img src="media/images/our_flavours1.jpg" class="img-responsive"
                                                             alt="Responsive image"/></a></div>
                        <div class="our_flavour_content"><span style="color:#7ba720;">Green Apple</span>

                            <p>The perfect blend of yummy apples..</p></div>
                        <div class="our_flavour_content_ml">10ml</div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="ourflavours_bar">
                        <div align="center"><a href="#"><img src="media/images/our_flavours2.jpg" class="img-responsive"
                                                             alt="Responsive image"/></a></div>
                        <div class="our_flavour_content"><span style="color:#2f1b1d">Coffee</span>

                            <p>Smells like a strong freshly brewed coffee...</p></div>
                        <div class="our_flavour_content_ml">10ml</div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="ourflavours_bar">
                        <div align="center"><a href="#"><img src="media/images/our_flavours4.jpg" class="img-responsive"
                                                             alt="Responsive image"/></a></div>
                        <div class="our_flavour_content">Orange<p>Smells just like freshly squeezed oranges!</p></div>
                        <div class="our_flavour_content_ml">10ml</div>
                    </div>

                </div>
                <div class="clear"></div>
                <div class="col-lg-4">
                    <div class="ourflavours_bar">
                        <div align="center"><a href="#"><img src="media/images/our_flavours6.jpg" class="img-responsive"
                                                             alt="Responsive image"/></a></div>
                        <div class="our_flavour_content">Grapefruit<p>A natural fruity grapefruit flavour..</p></div>
                        <div class="our_flavour_content_ml">10ml</div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="ourflavours_bar">
                        <div align="center"><a href="#"><img src="media/images/our_flavours5.jpg" class="img-responsive"
                                                             alt="Responsive image"/></a></div>
                        <div class="our_flavour_content"><span style="color:#2b87dc">Menthol</span>

                            <p>A strong minty menthol</p></div>
                        <div class="our_flavour_content_ml">10ml</div>
                    </div>

                </div>
                <div class="col-lg-4">
                    <div class="ourflavours_bar">
                        <div align="center"><a href="#"><img src="media/images/our_flavours3.jpg" class="img-responsive"
                                                             alt="Responsive image"/></a></div>
                        <div class="our_flavour_content">Cola<p>A classic fountain cola flavour...</p></div>
                        <div class="our_flavour_content_ml">10ml</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3"><a href="#"><img src="media/images/our_flavours_add.jpg" class="img-responsive"
                                                   alt="Responsive image"/></a></div>
            <!--...............................footer start.............................-->
            <div class="col-lg-12">
                <div class="clear"></div>
                <div class="foo_ter">
                    <ul>
                        <li><a href="/home">Buy Now</a></li>
                        <li><a href="/our_flavours">Our Flavours</a></li>
                        <li><a href="/ourpipes">Our Smoking Pipe</a></li>
                        <li><a href="/nicotine_reduction">Nicotine Reduction Directive</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                    </ul>
                    <p>© 2013 Lambert Smoking liquid - All rights reserved</p>
                </div>
            </div>
            <!--...............................footer end.............................-->
        </div>
    </div>
{% endblock %}