{% extends "general_frontend.html" %}

{% load i18n %}

{% block main %}
    <div class="container">
        <!--...............................Header start.............................-->
        <div class="header_top">
            <div class="col-lg-5">
                <div class="menu_bar">
                    <ul>
                        <li><a href="/home">Buy Now</a></li>
                        <li><a href="/our_flavours">Our Flavours</a></li>
                        <li><a href="/ourpipes">Our Smoking Pipe</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2">
                <div class="logo_bar"><a href="/home"><img src="media/images/logo.jpg" class="img-responsive"
                                                                alt="Responsive image"/></a></div>
            </div>
            <div class="col-lg-5">
                <div class="menu_bar">
                    <ul>
                        <li><a href="/nicotine_reduction">Nicotine Reduction Directive</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!--...............................Header end.............................-->
        <!--...............................banner start.............................-->
        <div class="col-lg-12"><img src="media/images/banner2.jpg" class="img-responsive" alt="Responsive image"/></div>
        <div class="clear"></div>
        <!--...............................banner end.............................-->
    </div>
    <div class="container">
        <div class="container_bagground">
            <div class="col-lg-12">
                <div class="smoking_pipe_title">Reliable and stylish!</div>
            </div>
            <div class="col-lg-6">
                <div class="leftandright_bar">
                    <img src="media/images/left_image.jpg" class="img-responsive" alt="Responsive image"/>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="leftandright_barRight">
                    <div class="left_content_boxRight">
                        <div class="smoking_pipe">The V1 Smoking Pipe</div>
                        <p>For anyone looking for a simple, reliable pipe which looks good and functions well the V1 is
                            ideal.</p>

                        <p>When fully charged the battery can generate enough vapour for 600 puffs and the vaporiser can
                            hold enough liquid for approximately 200 puffs.</p>

                        <p>With a simple 5 click on, 5 click off operating function the V1 smoking pipe is ideal for
                            anyone who is starting to use smoking liquid.</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="clear"></div>
            <div class="col-lg-6">
                <div class="leftandright_bar">
                    <img src="media/images/pipe_image.jpg" class="img-responsive" alt="Responsive image"/>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="leftandright_barRight">
                    <div class="left_content_boxRight">
                        <div class="smoking_pipe">Vaporizer</div>
                        <p>The vaporizer is the clear part of the pipe that holds the smoking liquid and heats it up for
                            inhalation. This part of the pipe needs replacing every 8 weeks on average.</p>
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <!--...............................footer start.............................-->
            <div class="col-lg-12">
                <div class="clear"></div>
                <div class="foo_ter">
                    <ul>
                        <li><a href="/home">Buy Now</a></li>
                        <li><a href="/our_flavours">Our Flavours</a></li>
                        <li><a href="/ourpipes">Our Smoking Pipe</a></li>
                        <li><a href="/nicotine_reduction">Nicotine Reduction Directive</a></li>
                        <li><a href="/contact_us">Contact Us</a></li>
                    </ul>
                    <p>© 2013 Lambert Smoking liquid - All rights reserved</p>
                </div>
            </div>
            <!--...............................footer end.............................-->
        </div>
    </div>
{% endblock %}