{% extends 'public/general_frontend.html' %}

{% load i18n%}

{% block js %}
    {{ block.super }}
{% endblock %}

{% block main_content %}
   <div class="good_news" style="padding:10px 0px;">
        	<div class="good_news_row" style="padding:10px 0px; margin-top:50px; text-align:center;">
                <span class="text_7">Page not found! </span>
            </div>
        	<div class="good_news_row" style="padding:10px 0px; margin-bottom:50px; text-align:center;">
                <span class="text_1">
                    <a href="{%   if user.is_authenticated %} /usersadmin/ {% else %} / {% endif %}">Click here</a> to continue.</span>
            </div>
    </div>
{% endblock %}

