{% load i18n%}
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>{%block title%}{% trans 'E Cigarette | E Liquid | Smoking Liquid | Vaping | Vaping Liquid'%}{%endblock%}</title>
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
{%block css%}
{%endblock%}

{%block js%}
{%endblock%}

</head>
<body>
{%block main%}
{%endblock%}

</body>
</html>