{% extends "base.html" %}

{% load i18n %}

{%block title%}{% trans 'Lambert Smoking Liquid'%}{%endblock%}

{% block css %}
    <link href="media/css/frontend/bootstrap.css" type="text/css" rel="stylesheet" />
    <link href="media/css/frontend/style.css" type="text/css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="media/css/frontend/menubar.css" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="media/js/jquery-1.9.1.js"></script>
    <script type="text/javascript" src="media/js/common.js"></script>
    <script type="text/javascript" src="media/js/frontend.js"></script>
{% endblock %}