{% extends "backend_base.html" %}

{% load i18n %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="media/css/style.css">
    <link rel="stylesheet" type="text/css" href="media/css/jqModal.css"/>
{% endblock %}

{% block js %}
    <script type="text/javascript" src="media/js/jquery.js"></script>
    <script type="text/javascript" src="media/js/jqModal.js"></script>
    <script type="text/javascript" src="media/js/jqDnR.js"></script>
    <script type="text/javascript" src="media/js/backend.js"></script>
{% endblock %}

{%block main%}
<div class="top_bar">
    <div class="top_bar_inner">
        <div id="logo_container">
            <div class="call_us">
                {% if user.is_authenticated %}
                Welcome, {{user.first_name}} &nbsp;/<a href="/accounts/logout/"> Logout</a>
                {% endif %}
                <div class="clear"></div>
            </div>
        </div>
    </div>
    <div class="clear"></div>
</div>

<div id="subscribers_popup_tag" class="jqmWindow">
</div>

<div id="searching_process" class="jqmWindow" style="margin-top:30px;margin-left:-150px;width: 220px;height: 50px;">
        <p class="text" style="margin-left: 10px;"><img src="/media/images/large-loading.gif" style="float: left;margin-top: 5px;"> <span style="float: left; font-size: 13px;margin-left: 5px;margin-top: 10px;">Searching......</span><br/>
</div>

<div id="container">
    <div id="container_ctr">
        <div id="navigation">
            <div id="navigation_left">
                <ul>
                    <li><a href="/ouradmin/home">Home</a></li>
                    <li><a href="/ouradmin/orders">Orders</a></li>
                    <li><a href="/ouradmin/reports">Reports</a></li>
                    <li><a href="/ouradmin/stock">Stock Control</a></li>
                    <li><a href="/ouradmin/subscribers">Subscribers</a></li>
                    <li><a href="/ouradmin/messages">Messages</a></li>
                    <li><a href="/ouradmin/users">Users</a></li>
                </ul>
            </div>
        </div>

        {% block content %}
        {% endblock %}
    </div>
</div>

<div class="footer_bar">
<div class="footer_bar_inner">
<div class="footer-top-navi">
<a href="/ouradmin/home">Home</a> |<a href="/ouradmin/orders"> Orders </a> |<a href="/ouradmin/reports"> Reports</a> |<a href="/ouradmin/stock"> Stock Control</a> |<a href="/ouradmin/subscribers"> Subscribers </a>  |<a href="/ouradmin/messages"> Messages</a> |<a href="/ouradmin/users"> Users</a>
</div>
</div>
</div>
{%endblock%}